.page-header
  %h1 Link Your Accounts
.well
  Below is a list of the services currently supported by the DataDonor system. This is where you decide which data to upload &mdash; please visit the projects page to control how the data gets shared with participating research groups.
    
%table.services
  %tbody
    - for auth_client in @active_auth_clients
      = render :partial => 'service', :locals => {:service => auth_client}
        

-# %h3 Coming Soon...
-#%br/
-#%ul
-#  %li Box.net
-#  %li BrowserID
-#  %li BroadWorks
-#  %li Concur
-#  %li ConstantContact
-#  %li ConstantContact2
-#  %li Crowd
-#  %li Dailymotion
-#  %li Deezer
-#  %li Dwolla
-#  %li Dropbox
-#  %li Eventbrite
-#  %li Evernote
-#  %li Geoloqi
-#  %li GetGlue
-#  %li GitHub
-#  %li Google
-#  %li Google OAuth2
-#  %li Hyves
-#  %li Identity
-#  %li igovt
-#  %li Instapaper
-#  %li LinuxFr.org
-#  %li Mailchimp
-#  %li Mail.ru
-#  %li Meetup.com
-#  %li Mydigipass.com
-#  %li Nate
-#  %li Odnoklassniki
-#  %li Ohloh
-#  %li OpenStreetMap
-#  %li Origo
-#  %li Picplz
-#  %li Podio
-#  %li QQ
-#  %li Remember The Milk
-#  %li RunKeeper
-#  %li Shibboleth
-#  %li Shopify
-#  %li SoundCloud
-#  %li salesforce
-#  %li 37signals
-#  %li Steam
-#  %li TradeKing
-#  %li Tumblr
-#  %li Viadeo
-#  %li Vimeo
-#  %li Vkontakte
-#  %li Weibo
-#  %li Weibo OAuth2
-#  %li Windows Live ID
-#  %li XING
-#  %li Yahoo
-#  %li Yammer
-#  %li Yubikey
-#  %li Yandex
-#  %li YouTube
