.page-header
  %h1 
    How It Works
%p
  DataDonor lets you link to your online accounts using OAuth authentication.  Once imported, you can decide which data to share and which research projects to support.  You have total control over your data; your name and contact information are never shared.
%br/
%p
  = image_tag('runkeeper.png')
    
%br/  
.btn-toolbar
  .btn-group
    =link_to 'Sign Up', new_user_registration_path, :class=>'btn btn-primary btn-large'