.hero-unit
  %h1
    Your data is valuable &mdash; put it to good use
  %p 
    Data is the currency of the information economy and the price of admission to much of the web.&nbsp; 
    The content that we publish online &mdash; as well as the links we click and the items we purchase &mdash; are aggregated into complex user profiles and sold to advertisers in a billion-dollar marketplace.&nbsp; 
    Now you can contribute this data to qualified non-profit and research groups to help them advance their work.&nbsp; 
    To get started, sign in with a service, below.&nbsp;  Be a DataDonor today!
    %br/
  %br/
  <a href='/auth/facebook' class='no-hover'><button type='submit' class='zocial facebook'>Sign In</button></a>
  &nbsp;
  <a href='/auth/twitter' class='no-hover'><button type='submit' class='zocial twitter'>Sign In</button></a>