.hero-unit
  %h1
    Do good with data
  %p 
    Data is the currency of the information economy and the price of admission to much of the web.&nbsp; DataDonor lets you contribute your data to qualified non-profit and research groups to help them advance their work.&nbsp; Donating your data may be more valuable to them than writing a check.&nbsp; To get started, sign in with a service, below &mdash; be a DataDonor today!
    %br/
  %br/
  <a href='/auth/facebook' class='no-hover'><button type='submit' class='zocial facebook'>Sign In</button></a>
  &nbsp;
  <a href='/auth/twitter' class='no-hover'><button type='submit' class='zocial twitter'>Sign In</button></a>