.hero-unit
  %h1
    Do good with your data
  %p
    Personal data is a valuable commodity.&nbsp;
    It captures our thoughts and sentiments, and lets advertisers develop highly targeted marketing campaigns.&nbsp;
    DataDonor lets you contribute this data to qualified research groups to help them advance their work.&nbsp; 
    We determine which groups are eligible for the program; you decide which data to upload and share.&nbsp;
    To get started, sign up for an account below.&nbsp; 
    %br/
    Be a DataDonor today!
    %br/
  %br/
  .btn-toolbar
    .btn-group
      =link_to 'Sign Up', new_user_registration_path, :class=>'btn btn-primary btn-large'
    .btn-group
      = link_to 'Learn More', page_path('about'), :class=>'btn btn-large'