.hero-unit
  %h1
    -# A new form of charitable contribution
    Personal data for the public good
  %br/
  %br/
  %p 
    Personal data is the currency of our information economy &mdash; it's the price of entry to the modern web.
  %p
    DataDonor™ lets you contribute your data to qualified research groups to help them advance their work. Doing so, in some cases, may be of more value than writing them a check. 
  %p 
    To get started, sign in with a service, below. &nbsp;Be a DataDonor™ today!
    %br/
  %br/
  <a href='/auth/facebook' class='no-hover'><button type='submit' class='zocial facebook'>Sign In</button></a>
  &nbsp;
  <a href='/auth/twitter' class='no-hover'><button type='submit' class='zocial twitter'>Sign In</button></a>