.hero-unit
  %h1 
    Do good with data
  %br/
  %br/
  %p 
    Personal data is the price of admission to the social web.  &nbsp;It's the currency of our information economy.  
  %p
    DataDonor lets you give a copy of your data to qualified research organizations &mdash; which may be more valuable to them than simply writing a check.
  %p 
    To get started, sign in with one of the links below &mdash; be a DataDonor today!
    %br/
  %br/
  <a href='/auth/facebook' class='no-hover'><button type='submit' class='zocial facebook'>Sign In</button></a>
  &nbsp;
  <a href='/auth/twitter' class='no-hover'><button type='submit' class='zocial twitter'>Sign In</button></a>