.hero-unit
  %h1
    “Your personal information is now more precious than gold.”
    %small
      = link_to 'Privacy and Big Data', 'http://shop.oreilly.com/product/0636920020103.do', :target => 'new'

  %p
    Personal data is a billion dollar industry, but the data you create is largely out of your control.&nbsp;
    DataDonor lets you give a copy of this asset to qualified research groups to help them advance their work.&nbsp;
    Now you can give your Runkeeper.com data to a study on exercise habits and your Zeo sleep monitor data to a study on insomnia.&nbsp;
    DataDonor is currently in beta, but if you're interested, we'll keep you in the loop.&nbsp; 
    Let us know what you think!

  .btn-toolbar
    .btn-group
      =button_to 'Yes, I would donate my data!', surveys_path(:support => true), :method => :post, :class=>'btn btn-success btn-large'
    .btn-group
      =button_to "No, I wouldn't do this", surveys_path(:support => false), :method => :post, :class=>'btn btn-large'
      
  = render :partial => 'layouts/flashes'      