.hero-unit
  %h1.pink
    Do good with your data
  %br/
  %br/
  %p 
    Personal data is the currency of the Internet &mdash; it's the price you pay when you access “free” websites. 
  %p
    DataDonor lets you contribute your data to qualified research organizations to help them advance their work. &nbsp;In some cases, this may be more valuable to them than simply writing a check. 
  %p 
    To get started, sign in with one of the services below. &nbsp;Be a DataDonor today!
    %br/
  %br/
  <a href='/auth/facebook' class='no-hover'><button type='submit' class='zocial facebook'>Sign In</button></a>
  &nbsp;
  <a href='/auth/twitter' class='no-hover'><button type='submit' class='zocial twitter'>Sign In</button></a>