.hero-unit
  %h1
    Do good with your data
  %p
    Data is the currency of the information economy and the price of admisison to much of the social web.&nbsp;
    Now you can give a copy of this data to qualified non-profit and research groups to help them advance their work.&nbsp;
    DataDonor decides which projects to accept into the program; you decide which data to upload and share.&nbsp;
    To get started, sign up for an account below.&nbsp;
    Be a DataDonor today!
  
  %br/
  .btn-toolbar
    .btn-group
      =link_to 'Sign Up', new_user_registration_path, :class=>'btn btn-primary btn-large'
    .btn-group
      = link_to 'Learn More', page_path('about'), :class=>'btn btn-large'