.hero-unit
  %h1
    “Your personal information is now more precious than gold.”
    %small
      = link_to 'Privacy and Big Data', 'http://shop.oreilly.com/product/0636920020103.do', :target => 'new'

  %p
    Data is the currency of the information economy and the price of admission to much of the web.&nbsp;
    Now you can give a copy of this asset to qualified research groups to help them advance their work.&nbsp;
    DataDonor decides which groups to accept into the program; you decide which data to upload and share.&nbsp;
    To get started, sign up for an account below.&nbsp;
    Be a DataDonor today!
  
  %br/
  .btn-toolbar
    .btn-group
      =link_to 'Sign Up for Beta Access', new_user_registration_path, :class=>'btn btn-primary btn-large'