.hero-unit
  %h1 Do Good with Data
  %br/
  %p 
    Personal data is the “price of admission” on the social web &mdash; companies like Facebook, Google, and Twitter make billions of dollars selling your information.  
  %p
    You can't really change this situation, but you can give a copy of your data to organizations who are advancing the common good. 
  %p 
    To get started, sign in with one of the links below &mdash; be a DataDonor today!
    %br/
  %br/
  <a href='/auth/facebook' class='no-hover'><button type='submit' class='zocial facebook'>Sign In</button></a>
  &nbsp;
  <a href='/auth/twitter' class='no-hover'><button type='submit' class='zocial twitter'>Sign In</button></a>