.hero-unit
  %h1
    “Your personal information is now more precious than gold.”
    %small
      = link_to 'Privacy and Big Data', 'http://shop.oreilly.com/product/0636920020103.do', :target => 'new'

  %p
    Data is the currency of the information economy and the price of admission to much of the web.&nbsp;
    Now you can give a copy of this asset to non-profit and research groups to help them advance their work.&nbsp;
    Imagine donating your Nike+ data to a study on heart health, or your LinkedIn data to a study on professional development.&nbsp;
    DataDonor screens the research projects that are admitted into the program; you decide which data to upload and share.&nbsp;
    DataDonor is in beta, but if you're interested, we'll keep you in the loop.&nbsp;
  .btn-toolbar
    .btn-group
      =button_to 'Yes, I would donate my data!', surveys_path(:support => true), :method => :post, :class=>'btn btn-success btn-large'
    .btn-group
      =button_to "No, I wouldn't do this", surveys_path(:support => false), :method => :post, :class=>'btn btn-large'
      
  = render :partial => 'layouts/flashes'