.hero-unit
  %h1
    Do good with your data
  %p
    In an information economy, personal data is more precious than gold.&nbsp;
    It captures the thoughts and interests of consumers, and lets advertisers design highly targeted marketing.&nbsp;
    Now you can donate this data to qualified research groups to help them advance their work.&nbsp; 
    DataDonor determines which groups are eligible for the program; you decide which data to upload and share.&nbsp;
    To get started, sign up for an account below &mdash; be a DataDonor today!
    %br/
  %br/
  .btn-toolbar
    .btn-group
      =link_to 'Sign Up', new_user_registration_path, :class=>'btn btn-primary btn-large'
    .btn-group
      = link_to 'Sign In', new_user_session_path, :class=>'btn btn-large'