.hero-unit
  %h1
    Doing good with data
  %p
    In the information economy, personal data is more precious than gold.&nbsp;
    Now you can donate a copy of your data to non-profit and research groups to help them advance their work.&nbsp; 
    We determine which projects are admitted to the DataDonor system; you control which data to upload and share.&nbsp;
    To get started, sign up for an account below.&nbsp; 
    Be a DataDonor today!
    %br/
  %br/
  .btn-toolbar
    .btn-group
      =link_to 'Sign Up', new_user_registration_path, :class=>'btn btn-primary btn-large'
    .btn-group
      = link_to 'Sign In', new_user_session_path, :class=>'btn btn-large'