#signup
  <a href='/auth/facebook?action=signin' class='no-hover'><button type='submit' class='zocial facebook'>Sign In</button></a>
  &nbsp;
  <a href='/auth/twitter?action=signin' class='no-hover'><button type='submit' class='zocial twitter'>Sign In</button></a>    