.hero-unit
  %h1
    -# A new form of charitable contribution
    Doing good with data
  %br/
  %br/
  %p 
    Data is the currency of our information economy and the price of admission to the social web.
  %p
    DataDonor™ lets you contribute your data to qualified non-profit groups to help them advance their work. Depending on the content of your data, doing so may be a more valuable act of charity than writing them a check. 
  %p 
    To get started, sign in with a service, below. &nbsp;Be a DataDonor™ today!
    %br/
  %br/
  <a href='/auth/facebook' class='no-hover'><button type='submit' class='zocial facebook'>Sign In</button></a>
  &nbsp;
  <a href='/auth/twitter' class='no-hover'><button type='submit' class='zocial twitter'>Sign In</button></a>