.hero-unit
  %h1 
    Do good with data
  %br/
  %br/
  %p 
    Personal data is the currency of the information economy &mdash; it's the price you pay when you access “free” services on the web. 
  %p
    Now you can give a copy of your data to research and non-profit organizations to help them advance their work. &nbsp;In some cases, this may be more valuable to them than simply writing a check. 
  %p 
    To get started, sign in with one of the links below. &nbsp;Be a DataDonor today!
    %br/
  %br/
  <a href='/auth/facebook' class='no-hover'><button type='submit' class='zocial facebook'>Sign In</button></a>
  &nbsp;
  <a href='/auth/twitter' class='no-hover'><button type='submit' class='zocial twitter'>Sign In</button></a>