.hero-unit
  %h1
    Do good with your data
  %p
    Data is the currency of the information economy.&nbsp;
    It's the price of admisison to many "free" services on the Internet, and it's sold to advertisers in a market worth billions of dollars per year.&nbsp;
    Now you can give a copy of this data to qualified non-profit and research groups to help them advance their work.&nbsp;
    DataDonor screens the research groups that are accepted into the program; you control the data that you want to upload and share.&nbsp;
    To get started, sign up for an account below.&nbsp; 
    Be a DataDonor today!
  
  %br/
  .btn-toolbar
    .btn-group
      =link_to 'Sign Up', new_user_registration_path, :class=>'btn btn-primary btn-large'
    .btn-group
      = link_to 'Learn More', page_path('about'), :class=>'btn btn-large'