.hero-unit h1{ font-size: 4em; line-height: 1em;
  a{color: black; text-decoration: underline; }
}
.navbar{ height: 50px; }
.container{ margin-bottom: 100px; }

p{ margin-bottom: 1em; }
.hero-unit{
  h1{ margin-bottom: .5em; }
  #signup{ margin-top: 30px; }
}

table.services{
  h3{ font-size: 19px; line-height: 0; margin: 10px 0 10px 0;}
  td{ padding: 20px 30px 20px 0; }
}

.pink{ color: #e42f4e !important; }
.center{ text-align: center; }
.progress.adjusted{ margin: 0; width: 400px;}
.alert{ margin-top: 20px; }

#user_date_of_birth_2i{width: 98px;}
#user_date_of_birth_3i{width: 50px;}
#user_date_of_birth_1i{width: 66px;}

#project_start_date_2i{width: 98px;}
#project_start_date_3i{width: 50px;}
#project_start_date_1i{width: 66px;}