p{ margin-bottom: 1em; }
#signup{ margin-top: 30px; }
.hero-unit{
  h1{ font-size: 3.5em; }
}

table.services{
  h3{ font-size: 19px; }
  td{ padding: 5px 15px 5px 0; }
}

.pink{ color: #e42f4e !important; }