@import "compass";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  @include blueprint-scaffolding; }

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  font-family: arial;
  
  h1 { font-size: 2.1em; font-weight: normal; font-family: 'ff-meta-serif-web-pro'; line-height: 1.8em; }
  h2 { font-size: 1.8em; font-weight: bold; color: $gray; font-family: 'ff-meta-web-pro'; margin-bottom: 1em; }
  h3 { font-size: 1.5em; font-weight: bold; color: $gray; font-family: 'ff-meta-serif-web-pro'; margin-bottom: 1em; }
  h4 { font-size: 1.2em; font-weight: bold; color: $gray; font-family: 'ff-meta-serif-web-pro'; margin-bottom: 1em; }
  
  a{ color: $blue; text-decoration: none; background: none; }
  a:hover{ color: $blue; text-decoration: underline; background: none; }
  a:visited{ color: $blue; }
  
  .container { @include container; }
  .red{ color: $red; }
  .bold{ font-weight: bold; }
  .large{ font-size: 1.2em; }
  .ff-meta-web-pro{ font-family: 'ff-meta-web-pro';}
  table.large{ 
    td{ font-size: 1.1em; padding: 5px 20px 5px 0; }
  }
  #top-nav{ text-align: right; font-family: arial; background-color: $gray; padding: 7px 0 10px 0; margin-bottom: 50px; color: $lightgray;
    a{ color: $lightgray; text-decoration: none; }
    a:hover{ color: white; }
    a:visited{ color: white; }
  }
  #header {
    text-align: center;
    margin-bottom: 50px;
    }
  #page{
    margin-bottom: 50px;
    text-align: left;
    color: $gray;
    
    ul.horizontal-list{ @include horizontal-list; }

    #tagline{ margin: 40px 0 50px 0; padding: 40px 0 40px 0; border-top: 1px solid $lightgray; border-bottom: 1px solid $lightgray; text-align: center; }
    #signup{ margin-top: 100px; text-align: center; }
    #credit{ margin-top: 30px; font-size: 17px; text-align: right; }
    
    }
  
  #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }
