<!DOCTYPE html>
<html>
<head>
  <title>Datadonor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/dxb5flh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body style="text-align:center; margin-top: 50px">

<%= yield %>

</body>
</html>
